@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');



.mainTitle {
  /* font color, size, and position */
  color: rgb(255, 230, 102);

  font-size: 100px;

  letter-spacing: 0.075em;

  margin-top: 100px;

  text-align: center;

  font-weight: 500;
}

.secondMainTitle {
  /* font color, size, and position */
  color: rgb(255, 230, 102);

  font-size: 25px;

  letter-spacing: 0.075em;

  margin-top: 5px;

  text-align: center;

  font-weight: 500;

}

[contentEditable] {
  color: rgb(118, 214, 118);

  outline: none;

  caret-color: rgb(118, 214, 118);

  word-wrap: break-word;
}