.mainTitle {
  color: rgb(255, 230, 102);

  font-size: 100px;

  margin: 50px;

  font-weight: 500;

  text-align: center;
}

.mediaDescripter {
  font-size: 30px;
  font-weight: 500;
  color: white;

  margin: auto;
  width: 50%;

  text-align: left;
}

.mediaSect {
  margin-bottom: 50px;
}

#media {
  text-align: center;
}