#linksWrapper {
  display: flex;

  justify-content: center;
}

#linksWrapper div {
  user-select: none;

  flex-direction: row;

  margin: 10px;
}

#aboutMe {
  margin: auto;

  margin-top: 50px;

  width: 60%;
}

#title {
  font-size: 50px;

  color: rgb(255, 230, 102);
}

#par {
  color: white;

  font-size: 20px;
}